.BuildControl {
	display: flex;
	justify-content: flex-start;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.Icon {
	margin: 0 1rem;
	width: 20%;
	border-radius: 100%;
	background-size: contain;
	border: 2px solid #ffce00;
}

.Details {
	font-family: 'Open Sans';
	width: 120px !important;
	display: flex;
	flex-direction: column;
	font-size: 1rem;
}

.Label {
	font-family: 'Poppins';
	color: #000;
	font-weight: 600;
	font-size: 0.9rem;
	margin-bottom: 0.3rem;
}

.Price {
	font-family: 'Poppins';
	color: #000;
	font-size: 0.8rem;
	margin: 0 !important;
}

.Controls {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem;
}

.Quantity {
	font-family: 'Poppins';
	color: #000;
	font-size: 0.9rem;
	width: 10px;
}

.Controls button {
	display: block;
	font-size: 1rem;
	font-weight: bold;
	margin: 0 10px;
	width: 34px;
	height: 34px;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	padding: 0.25rem;
	transition: all 0.1s ease-out;

	display: flex;
	align-items: center;
	justify-content: center;
}

.Controls button:disabled {
	background-color: #c7c6c6;
	color: white;
	cursor: default;
}

.Controls button:hover:disabled {
	background-color: #c7c6c6;
	color: white;
	cursor: not-allowed;
}

.Controls .Less {
	background-color: #ffc42b;
	color: #fffffe;
}

.Controls .More {
	background-color: #ffc42b;
	color: #fffffe;
}

.Controls .Less:hover,
.Controls .Less:active {
	background-color: #ffc42b;
	color: #fffffe;
}

.Controls .More:hover,
.Controls .More:active {
	background-color: #ffc42b;
	color: #fffffe;
}
